--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (Debian 17.5-1.pgdg110+1)
-- Dumped by pg_dump version 17.5 (Debian 17.5-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: tiger; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA tiger;


ALTER SCHEMA tiger OWNER TO postgres;

--
-- Name: tiger_data; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA tiger_data;


ALTER SCHEMA tiger_data OWNER TO postgres;

--
-- Name: topology; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA topology;


ALTER SCHEMA topology OWNER TO postgres;

--
-- Name: SCHEMA topology; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA topology IS 'PostGIS Topology schema';


--
-- Name: fuzzystrmatch; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS fuzzystrmatch WITH SCHEMA public;


--
-- Name: EXTENSION fuzzystrmatch; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION fuzzystrmatch IS 'determine similarities and distance between strings';


--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: postgis_tiger_geocoder; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_tiger_geocoder WITH SCHEMA tiger;


--
-- Name: EXTENSION postgis_tiger_geocoder; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_tiger_geocoder IS 'PostGIS tiger geocoder and reverse geocoder';


--
-- Name: postgis_topology; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_topology WITH SCHEMA topology;


--
-- Name: EXTENSION postgis_topology; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_topology IS 'PostGIS topology spatial types and functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: get_tasks_within_radius(double precision, double precision, integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.get_tasks_within_radius(p_longitude double precision, p_latitude double precision, p_radius_meters integer DEFAULT 1000) RETURNS TABLE(id uuid, "shortDescription" character varying, "fullDescription" text, reward integer, urgency character varying, status character varying, "createdAt" timestamp without time zone, "expiresAt" timestamp without time zone, distance_meters double precision)
    LANGUAGE plpgsql
    AS $$
BEGIN
    RETURN QUERY
    SELECT 
        t.id,
        t."shortDescription",
        t."fullDescription",
        t.reward,
        t.urgency,
        t.status,
        t."createdAt",
        t."expiresAt",
        ST_Distance(
            t."geoPoint"::geography,
            ST_SetSRID(ST_MakePoint(p_longitude, p_latitude), 4326)::geography
        ) AS distance_meters
    FROM tasks t
    WHERE 
        t.status = 'created'
        AND t."expiresAt" > CURRENT_TIMESTAMP
        AND ST_DWithin(
            t."geoPoint"::geography,
            ST_SetSRID(ST_MakePoint(p_longitude, p_latitude), 4326)::geography,
            p_radius_meters
        )
    ORDER BY t."createdAt" DESC;
END;
$$;


ALTER FUNCTION public.get_tasks_within_radius(p_longitude double precision, p_latitude double precision, p_radius_meters integer) OWNER TO postgres;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW."updatedAt" = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: tasks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tasks (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "shortDescription" character varying(100) NOT NULL,
    "fullDescription" text NOT NULL,
    reward integer NOT NULL,
    city character varying(100) DEFAULT '╨Р╤Б╤В╨░╨╜╨░'::character varying NOT NULL,
    address character varying(200) DEFAULT ''::character varying NOT NULL,
    "geoPoint" public.geometry(Point,4326) NOT NULL,
    urgency character varying(10) DEFAULT 'medium'::character varying NOT NULL,
    status character varying(20) DEFAULT 'created'::character varying NOT NULL,
    "createdById" uuid NOT NULL,
    "claimedById" uuid,
    "customerConfirmed" boolean DEFAULT false NOT NULL,
    "executorConfirmed" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "expiresAt" timestamp without time zone,
    CONSTRAINT tasks_reward_check CHECK (((reward >= 5) AND ((reward % 5) = 0))),
    CONSTRAINT tasks_status_check CHECK (((status)::text = ANY ((ARRAY['created'::character varying, 'claimed'::character varying, 'completed'::character varying, 'cancelled'::character varying, 'expired'::character varying])::text[]))),
    CONSTRAINT tasks_urgency_check CHECK (((urgency)::text = ANY ((ARRAY['low'::character varying, 'medium'::character varying, 'high'::character varying])::text[])))
);


ALTER TABLE public.tasks OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    "phoneNumber" character varying(50),
    "createdAt" timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: active_tasks; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.active_tasks AS
 SELECT t.id,
    t."shortDescription",
    t."fullDescription",
    t.reward,
    t.city,
    t.address,
    t."geoPoint",
    t.urgency,
    t.status,
    t."createdById",
    t."claimedById",
    t."customerConfirmed",
    t."executorConfirmed",
    t."createdAt",
    t."updatedAt",
    t."expiresAt",
    public.st_x(t."geoPoint") AS longitude,
    public.st_y(t."geoPoint") AS latitude,
    u.email AS creator_email,
    u."phoneNumber" AS creator_phone
   FROM (public.tasks t
     JOIN public.users u ON ((t."createdById" = u.id)))
  WHERE (((t.status)::text = ANY ((ARRAY['created'::character varying, 'claimed'::character varying])::text[])) AND ((t."expiresAt" IS NULL) OR (t."expiresAt" > CURRENT_TIMESTAMP)));


ALTER VIEW public.active_tasks OWNER TO postgres;

--
-- Name: task_stats; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.task_stats AS
 SELECT count(*) FILTER (WHERE ((status)::text = 'created'::text)) AS created_count,
    count(*) FILTER (WHERE ((status)::text = 'claimed'::text)) AS claimed_count,
    count(*) FILTER (WHERE ((status)::text = 'completed'::text)) AS completed_count,
    count(*) FILTER (WHERE ((status)::text = 'cancelled'::text)) AS cancelled_count,
    count(*) FILTER (WHERE ((status)::text = 'expired'::text)) AS expired_count,
    count(*) AS total_count,
    sum(reward) FILTER (WHERE ((status)::text = 'completed'::text)) AS total_rewards_paid
   FROM public.tasks;


ALTER VIEW public.task_stats OWNER TO postgres;

--
-- Data for Name: spatial_ref_sys; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.spatial_ref_sys (srid, auth_name, auth_srid, srtext, proj4text) FROM stdin;
\.


--
-- Data for Name: tasks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tasks (id, "shortDescription", "fullDescription", reward, city, address, "geoPoint", urgency, status, "createdById", "claimedById", "customerConfirmed", "executorConfirmed", "createdAt", "updatedAt", "expiresAt") FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, email, password, "phoneNumber", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: geocode_settings; Type: TABLE DATA; Schema: tiger; Owner: postgres
--

COPY tiger.geocode_settings (name, setting, unit, category, short_desc) FROM stdin;
\.


--
-- Data for Name: pagc_gaz; Type: TABLE DATA; Schema: tiger; Owner: postgres
--

COPY tiger.pagc_gaz (id, seq, word, stdword, token, is_custom) FROM stdin;
\.


--
-- Data for Name: pagc_lex; Type: TABLE DATA; Schema: tiger; Owner: postgres
--

COPY tiger.pagc_lex (id, seq, word, stdword, token, is_custom) FROM stdin;
\.


--
-- Data for Name: pagc_rules; Type: TABLE DATA; Schema: tiger; Owner: postgres
--

COPY tiger.pagc_rules (id, rule, is_custom) FROM stdin;
\.


--
-- Data for Name: topology; Type: TABLE DATA; Schema: topology; Owner: postgres
--

COPY topology.topology (id, name, srid, "precision", hasz) FROM stdin;
\.


--
-- Data for Name: layer; Type: TABLE DATA; Schema: topology; Owner: postgres
--

COPY topology.layer (topology_id, layer_id, schema_name, table_name, feature_column, feature_type, level, child_id) FROM stdin;
\.


--
-- Name: topology_id_seq; Type: SEQUENCE SET; Schema: topology; Owner: postgres
--

SELECT pg_catalog.setval('topology.topology_id_seq', 1, false);


--
-- Name: tasks tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_tasks_claimedbyid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasks_claimedbyid ON public.tasks USING btree ("claimedById");


--
-- Name: idx_tasks_createdbyid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasks_createdbyid ON public.tasks USING btree ("createdById");


--
-- Name: idx_tasks_expiresat; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasks_expiresat ON public.tasks USING btree ("expiresAt");


--
-- Name: idx_tasks_geopoint; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasks_geopoint ON public.tasks USING gist ("geoPoint");


--
-- Name: idx_tasks_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasks_status ON public.tasks USING btree (status);


--
-- Name: idx_tasks_status_expiresat; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasks_status_expiresat ON public.tasks USING btree (status, "expiresAt") WHERE ((status)::text = 'created'::text);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: tasks update_tasks_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_tasks_updated_at BEFORE UPDATE ON public.tasks FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: users update_users_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: tasks tasks_claimedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT "tasks_claimedById_fkey" FOREIGN KEY ("claimedById") REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: tasks tasks_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT "tasks_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

