hcloud_token     = "replace-with-hcloud-token"
project_name     = "taskondemand"
environment      = "prod"
vm_type          = "cx22"
vm_image         = "ubuntu-24.04"
vm_location      = "fsn1"
timezone         = "Asia/Almaty"
ssh_user         = "todadmin"
ssh_public_key   = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAA... your@email"
allowed_ssh_cidr = "203.0.113.10/32"
