DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=tod
DB_PORT=5432

REDIS_PORT=6379
RABBITMQ_USER=admin
RABBITMQ_PASS=admin
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

BACKEND_PORT=3001
FRONTEND_PORT=3000
FRONTEND_URL=http://VM_IP_OR_DOMAIN
JWT_SECRET=replace-with-strong-64-char-secret

NGINX_HTTP_PORT=80
NGINX_HTTPS_PORT=443
